In [13]:
#A tuple consists of values separate by commas (without brackets like a list). 
t = 7, 6, 5, 4, 3, 2, 1

In [14]:
t

(7, 6, 5, 4, 3, 2, 1)

In [15]:
type(t)

tuple

In [16]:
#Adding paranthesis also makes a tuple
t2 = (1,4,5,7,5,4,43,3)
t2

(1, 4, 5, 7, 5, 4, 43, 3)

In [17]:
type(t2)

tuple

In [18]:
#A set is an unordered collection with no duplicate elements. Sets are good for mathematical operations... 
#Please note that if you add duplicate elements, python will remove them from a set
s = {'duplicate', 'duplicate', 'other stuff', 'otherstuff2', 'otherstuff3'}
s

{'duplicate', 'other stuff', 'otherstuff2', 'otherstuff3'}

In [19]:
type(s)

set

In [25]:
s2 = {'howdy', 'partner', 'welcome', 'to', 'Texas', 'other stuff'}

In [26]:
#You can determine what sets have in common using &
s & s2

{'other stuff'}

In [27]:
#To determine what is in s that is not in s2 you can subtract
s - s2

{'duplicate', 'otherstuff2', 'otherstuff3'}

In [29]:
#or vice versa
s2 - s

{'Texas', 'howdy', 'partner', 'to', 'welcome'}

In [43]:
#Sets are good for creating dictionaries - you can assign a term to another term (in format key:term)
student_names = {'student1' : 'Jon', 'student2' : 'Joe', 'student3' : 'Jim', 'student4' : 'Jessica', 'student5' : 'Janice', 'student6' : 'Jenna'}

In [62]:
type(student_names)

dict

In [63]:
#To get values out of a dictionary use the keys in square brackets
print('The name of my 6th student is:', student_names['student6'])

The name of my 6th student is: Jenna

In [64]:
#You can add a new key and value to a set
student_names['student7'] = 'Billy Bob Thornton'
student_names

{'student1': 'Jon',
 'student2': 'Joe',
 'student3': 'Jim',
 'student4': 'Jessica',
 'student5': 'Janice',
 'student6': 'Jenna',
 'student7': 'Billy Bob Thornton'}

In [65]:
#To get values out of a dictionary use the keys in square brackets
print('The name of my 7th student is:', student_names['student7'])

The name of my 7th student is: Billy Bob Thornton

In [66]:
#You can modify a set
student_names['student7'] = 'Elon Musk'
student_names

{'student1': 'Jon',
 'student2': 'Joe',
 'student3': 'Jim',
 'student4': 'Jessica',
 'student5': 'Janice',
 'student6': 'Jenna',
 'student7': 'Elon Musk'}

In [67]:
print('The name of my 7th student is:', student_names['student7'])

The name of my 7th student is: Elon Musk

In [68]:
#You can also delete an entry from a set
del student_names['student7']
student_names

{'student1': 'Jon',
 'student2': 'Joe',
 'student3': 'Jim',
 'student4': 'Jessica',
 'student5': 'Janice',
 'student6': 'Jenna'}

In [69]:
#You can also employ len() function to get length of set
len(student_names)

6

In [70]:
#You can get all the keys from a set
list(student_names.keys())

['student1', 'student2', 'student3', 'student4', 'student5', 'student6']

In [71]:
#You can get all the values from a set
list(student_names.values())

['Jon', 'Joe', 'Jim', 'Jessica', 'Janice', 'Jenna']

In [72]:
#You can sort your values or keys if you want
sorted(student_names.values())

['Janice', 'Jenna', 'Jessica', 'Jim', 'Joe', 'Jon']