In [1]:
#Variables can store numbers and strings etc. and can be assigned using the equal sign (=)

codon = "AGC"
dna_sequence = "GATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTT"

In [5]:
codon*100 + dna_sequence*10

'AGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCAGCGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTT'

In [23]:
a = 4
a

4

In [24]:
#We can also increase the value of a variable
a = a + 3
a

7

In [25]:
#This is a shorthand way to write a = a + 3
a += 3
a

10

In [26]:
#This is a shorthand way to write a = a - 3
a -= 3
a

7

## Other useful string operators

In [32]:
dna_sequence

'GATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTT'

In [61]:
#The first position in a string is 0
dna_sequence[0]

'G'

In [62]:
#The first position in a string is 0 and so on..
dna_sequence[0], dna_sequence[1], dna_sequence[2], dna_sequence[3] , dna_sequence[4], dna_sequence[5], dna_sequence[6]

('G', 'A', 'T', 'T', 'A', 'C', 'A')

In [37]:
#A negative number will start at the end (furthest to the right) of the string and work its way left
dna_sequence[-1]

'T'

In [39]:
#A negative number will start at the end (furthest to the right) of the string and work its way left
dna_sequence[-1], dna_sequence[-2],dna_sequence[-3],dna_sequence[-4],dna_sequence[-5],dna_sequence[-6],dna_sequence[-7]

('T', 'T', 'T', 'T', 'T', 'A', 'A')

In [59]:
#You can also select just a certain portion of a string by separating with a colon in different ways
dna_sequence[0:7], dna_sequence[:7], dna_sequence[3:14]

('GATTACA', 'GATTACA', 'TACAGATTACA')

In [60]:
#If you put the number before the colon, that is where the selected string will start...
dna_sequence[0:], dna_sequence[75:]

('GATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTT',
 'GCAATTTTT')

In [63]:
#The built in function len() returns the length of a string
len(dna_sequence)

84

In [67]:
#The built in function len() returns the length of a string
len(codon)

3

In [68]:
#The built in function len() returns the length of a string
len(codon), len(dna_sequence)

(3, 84)

In [70]:
#strings are special, because they can also call methods that can only be performed on them...
#For example, I can count how many times "C" is in our dna_sequence string....
dna_sequence.count('C')

21

In [72]:
#I can also count how many times the substring "GATTACA" is in our dna_sequence string....
dna_sequence.count('GATTACA')

2

In [73]:
#So I create a new variable that multiplates the string dna_sequence by 2
new_dna_sequence = dna_sequence*2
new_dna_sequence

'GATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTTGATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTT'

In [75]:
#And if I count how many times "GATTACA" is in the string, it will now be double...
new_dna_sequence.count('GATTACA')

4

In [86]:
len(dna_sequence), len(new_dna_sequence)

(84, 168)

In [87]:
dna_sequence

'GATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTT'

In [88]:
#You can also change the sequence to all upper or lower case very easily
dna_sequence.lower()

'gattacagattacagtcgtacgactagcatcgactagcatcagcatcgactacgatcagcatagcacgagcacgagcaattttt'

In [115]:
#You can also change the sequence to all upper or lower case very easily
dna_sequence.upper()

'GATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTT'

In [116]:
#You can also find the first occurance of a substring of a string using find
dna_sequence.find('GATTACA')

0

In [117]:
#You can also find another occurance of a substring of a string using find, the number after the first occurance
dna_sequence.find('GATTACA', 1)

7

In [118]:
#You can check to see whether your string is upper or lower (it will return true or false)
dna_sequence.isupper()

True

In [119]:
#You can check to see whether your string is upper or lower (it will return true or false)
dna_sequence.islower()

False

In [120]:
#You can also replace or substitute components of a string
dna_sequenceR = dna_sequence.replace('G','g')
dna_sequenceR

'gATTACAgATTACAgTCgTACgACTAgCATCgACTAgCATCAgCATCgACTACgATCAgCATAgCACgAgCACgAgCAATTTTT'

In [121]:
dna_sequenceU = dna_sequence.upper()
dna_sequenceU

'GATTACAGATTACAGTCGTACGACTAGCATCGACTAGCATCAGCATCGACTACGATCAGCATAGCACGAGCACGAGCAATTTTT'

In [123]:
dna_sequenceL = dna_sequence.lower()
dna_sequenceL

'gattacagattacagtcgtacgactagcatcgactagcatcagcatcgactacgatcagcatagcacgagcacgagcaattttt'